USE [master]
GO
/****** Objeto: Database [Club Manager] Fecha de script: 4/7/2026 08:56:08 ******/
CREATE DATABASE [Club Manager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Club Manager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Club Manager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Club Manager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Club Manager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Club Manager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Club Manager]
GO
/****** Objeto: Table [dbo].[AsistenciaEvento] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaEvento](
	[IdAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[IdSocio] [int] NOT NULL,
	[IdEvento] [int] NOT NULL,
	[TipoAsistencia] [nvarchar](20) NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
	[Pagado] [char](1) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_AsistenciaEvento] PRIMARY KEY CLUSTERED 
(
	[IdAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AsistenciaEvento] UNIQUE NONCLUSTERED 
(
	[IdSocio] ASC,
	[IdEvento] ASC,
	[TipoAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Usuario] [nvarchar](100) NULL,
	[Accion] [nvarchar](100) NOT NULL,
	[Modulo] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ConfiguracionCuota] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionCuota](
	[IdConfiguracion] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Concepto] [nvarchar](100) NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
	[Activo] [char](1) NOT NULL,
 CONSTRAINT [PK_ConfiguracionCuota] PRIMARY KEY CLUSTERED 
(
	[IdConfiguracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ConfiguracionEventoDefault] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionEventoDefault](
	[IdConfiguracion] [int] NOT NULL,
	[Concepto] [nvarchar](100) NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
	[Activo] [char](1) NOT NULL,
 CONSTRAINT [PK_ConfiguracionEventoDefault] PRIMARY KEY CLUSTERED 
(
	[IdConfiguracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ConvocatoriaEvento] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConvocatoriaEvento](
	[IdConvocatoria] [int] IDENTITY(1,1) NOT NULL,
	[IdEvento] [int] NOT NULL,
	[IdJugador] [int] NOT NULL,
	[EstadoRespuesta] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ConvocatoriaEvento] PRIMARY KEY CLUSTERED 
(
	[IdConvocatoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DigitoVerificadorVertical] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[Entidad] [nvarchar](100) NOT NULL,
	[Campo] [nvarchar](100) NOT NULL,
	[Valor] [int] NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
 CONSTRAINT [PK_DigitoVerificadorVertical] PRIMARY KEY CLUSTERED 
(
	[Entidad] ASC,
	[Campo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EventoDeportivo] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoDeportivo](
	[IdEvento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Deporte] [nvarchar](80) NOT NULL,
	[FechaEvento] [datetime] NOT NULL,
	[Lugar] [nvarchar](120) NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[CupoEspectadores] [int] NOT NULL,
	[PrecioEntradaEspectador] [decimal](18, 2) NOT NULL,
	[PrecioParticipacionJugador] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_EventoDeportivo] PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HistorialSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialSocio](
	[IdHistorico] [int] NOT NULL,
	[IdSocio] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_HistorialSocio] PRIMARY KEY CLUSTERED 
(
	[IdSocio] ASC,
	[IdHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreIdioma] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Idioma] UNIQUE NONCLUSTERED 
(
	[NombreIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InsigniaCatalogo] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsigniaCatalogo](
	[IdInsigniaCatalogo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[Imagen] [nvarchar](200) NULL,
	[TieneNiveles] [char](1) NOT NULL,
	[RequisitoNiveles] [nvarchar](max) NULL,
	[Activo] [char](1) NOT NULL,
 CONSTRAINT [PK_InsigniaCatalogo] PRIMARY KEY CLUSTERED 
(
	[IdInsigniaCatalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InsigniaCatalogo_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InsigniaSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsigniaSocio](
	[IdInsignia] [int] IDENTITY(1,1) NOT NULL,
	[IdSocio] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Motivo] [nvarchar](300) NULL,
	[FechaOtorgamiento] [datetime] NOT NULL,
	[Nivel] [int] NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Imagen] [nvarchar](200) NULL,
	[RequisitoNiveles] [nvarchar](max) NULL,
 CONSTRAINT [PK_InsigniaSocio] PRIMARY KEY CLUSTERED 
(
	[IdInsignia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Inventario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Ubicacion] [nvarchar](120) NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Jugador] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugador](
	[IdJugador] [int] IDENTITY(1,1) NOT NULL,
	[IdSocio] [int] NOT NULL,
	[Deporte] [nvarchar](80) NOT NULL,
	[Posicion] [nvarchar](80) NULL,
	[Disponible] [char](1) NOT NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MovimientoFinanciero] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoFinanciero](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[FechaMovimiento] [datetime] NOT NULL,
	[TipoMovimiento] [nvarchar](20) NOT NULL,
	[Concepto] [nvarchar](120) NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_MovimientoFinanciero] PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pago] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdSocio] [int] NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[Concepto] [nvarchar](100) NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Publicacion] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicacion](
	[IdPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](120) NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[TipoPublicacion] [nvarchar](50) NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[UsuarioAutor] [nvarchar](100) NULL,
 CONSTRAINT [PK_Publicacion] PRIMARY KEY CLUSTERED 
(
	[IdPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ResultadoPartido] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoPartido](
	[IdResultado] [int] IDENTITY(1,1) NOT NULL,
	[IdEvento] [int] NOT NULL,
	[EquipoLocal] [nvarchar](120) NOT NULL,
	[EquipoVisitante] [nvarchar](120) NOT NULL,
	[Resultado] [nvarchar](30) NOT NULL,
	[FechaCarga] [datetime] NOT NULL,
 CONSTRAINT [PK_ResultadoPartido] PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolComponente] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolComponente](
	[IdRolComponente] [int] IDENTITY(1,1) NOT NULL,
	[IdRolPadre] [int] NOT NULL,
	[IdRolHijo] [int] NULL,
	[IdPermiso] [int] NULL,
 CONSTRAINT [PK_RolComponente] PRIMARY KEY CLUSTERED 
(
	[IdRolComponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Socio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socio](
	[IdSocio] [int] NOT NULL,
	[TipoDocumento] [varchar](10) NOT NULL,
	[NumeroDocumento] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Nacionalidad] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Activo] [char](1) NOT NULL,
	[DigitoVerificadorHorizontal] [int] NOT NULL,
 CONSTRAINT [PK_Socio] PRIMARY KEY CLUSTERED 
(
	[IdSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Socio_Documento] UNIQUE NONCLUSTERED 
(
	[TipoDocumento] ASC,
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Traduccion] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreControl] [nvarchar](100) NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[Traduccion] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Traduccion] UNIQUE NONCLUSTERED 
(
	[NombreControl] ASC,
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdSocio] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [nvarchar](255) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Bloqueado] [char](1) NOT NULL,
	[Activo] [char](1) NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Venta] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[TipoVenta] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](160) NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsistenciaEvento] ADD  CONSTRAINT [DF_AsistenciaEvento_Pagado]  DEFAULT ('S') FOR [Pagado]
GO
ALTER TABLE [dbo].[AsistenciaEvento] ADD  CONSTRAINT [DF_AsistenciaEvento_Fecha]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Bitacora] ADD  CONSTRAINT [DF_Bitacora_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[ConfiguracionCuota] ADD  CONSTRAINT [DF_ConfiguracionCuota_Activo]  DEFAULT ('S') FOR [Activo]
GO
ALTER TABLE [dbo].[ConfiguracionEventoDefault] ADD  CONSTRAINT [DF_ConfiguracionEventoDefault_Activo]  DEFAULT ('S') FOR [Activo]
GO
ALTER TABLE [dbo].[DigitoVerificadorVertical] ADD  CONSTRAINT [DF_DVV_Fecha]  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[EventoDeportivo] ADD  CONSTRAINT [DF_Evento_CupoEspectadores]  DEFAULT ((100)) FOR [CupoEspectadores]
GO
ALTER TABLE [dbo].[EventoDeportivo] ADD  CONSTRAINT [DF_Evento_PrecioEntrada]  DEFAULT ((3000)) FOR [PrecioEntradaEspectador]
GO
ALTER TABLE [dbo].[EventoDeportivo] ADD  CONSTRAINT [DF_Evento_PrecioParticipacion]  DEFAULT ((2000)) FOR [PrecioParticipacionJugador]
GO
ALTER TABLE [dbo].[InsigniaCatalogo] ADD  CONSTRAINT [DF_InsigniaCatalogo_TieneNiveles]  DEFAULT ('S') FOR [TieneNiveles]
GO
ALTER TABLE [dbo].[InsigniaCatalogo] ADD  CONSTRAINT [DF_InsigniaCatalogo_Activo]  DEFAULT ('S') FOR [Activo]
GO
ALTER TABLE [dbo].[InsigniaSocio] ADD  CONSTRAINT [DF_Insignia_Fecha]  DEFAULT (getdate()) FOR [FechaOtorgamiento]
GO
ALTER TABLE [dbo].[InsigniaSocio] ADD  CONSTRAINT [DF_InsigniaSocio_Nivel]  DEFAULT ((1)) FOR [Nivel]
GO
ALTER TABLE [dbo].[Jugador] ADD  CONSTRAINT [DF_Jugador_Disponible]  DEFAULT ('S') FOR [Disponible]
GO
ALTER TABLE [dbo].[Publicacion] ADD  CONSTRAINT [DF_Publicacion_Fecha]  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[ResultadoPartido] ADD  CONSTRAINT [DF_ResultadoPartido_Fecha]  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [dbo].[Socio] ADD  CONSTRAINT [DF_Socio_Activo]  DEFAULT ('S') FOR [Activo]
GO
ALTER TABLE [dbo].[Socio] ADD  CONSTRAINT [DF_Socio_DVH]  DEFAULT ((0)) FOR [DigitoVerificadorHorizontal]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Bloqueado]  DEFAULT ('N') FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Activo]  DEFAULT ('S') FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_IntentosFallidos]  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[AsistenciaEvento]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaEvento_Evento] FOREIGN KEY([IdEvento])
REFERENCES [dbo].[EventoDeportivo] ([IdEvento])
GO
ALTER TABLE [dbo].[AsistenciaEvento] CHECK CONSTRAINT [FK_AsistenciaEvento_Evento]
GO
ALTER TABLE [dbo].[AsistenciaEvento]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaEvento_Socio] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socio] ([IdSocio])
GO
ALTER TABLE [dbo].[AsistenciaEvento] CHECK CONSTRAINT [FK_AsistenciaEvento_Socio]
GO
ALTER TABLE [dbo].[ConfiguracionCuota]  WITH CHECK ADD  CONSTRAINT [FK_ConfiguracionCuota_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[ConfiguracionCuota] CHECK CONSTRAINT [FK_ConfiguracionCuota_Rol]
GO
ALTER TABLE [dbo].[ConvocatoriaEvento]  WITH CHECK ADD  CONSTRAINT [FK_Convocatoria_Evento] FOREIGN KEY([IdEvento])
REFERENCES [dbo].[EventoDeportivo] ([IdEvento])
GO
ALTER TABLE [dbo].[ConvocatoriaEvento] CHECK CONSTRAINT [FK_Convocatoria_Evento]
GO
ALTER TABLE [dbo].[ConvocatoriaEvento]  WITH CHECK ADD  CONSTRAINT [FK_Convocatoria_Jugador] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[Jugador] ([IdJugador])
GO
ALTER TABLE [dbo].[ConvocatoriaEvento] CHECK CONSTRAINT [FK_Convocatoria_Jugador]
GO
ALTER TABLE [dbo].[HistorialSocio]  WITH CHECK ADD  CONSTRAINT [FK_HistorialSocio_Socio] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socio] ([IdSocio])
GO
ALTER TABLE [dbo].[HistorialSocio] CHECK CONSTRAINT [FK_HistorialSocio_Socio]
GO
ALTER TABLE [dbo].[InsigniaSocio]  WITH CHECK ADD  CONSTRAINT [FK_InsigniaSocio_Socio] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socio] ([IdSocio])
GO
ALTER TABLE [dbo].[InsigniaSocio] CHECK CONSTRAINT [FK_InsigniaSocio_Socio]
GO
ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_Socio] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socio] ([IdSocio])
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [FK_Jugador_Socio]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Socio] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socio] ([IdSocio])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Socio]
GO
ALTER TABLE [dbo].[ResultadoPartido]  WITH CHECK ADD  CONSTRAINT [FK_ResultadoPartido_Evento] FOREIGN KEY([IdEvento])
REFERENCES [dbo].[EventoDeportivo] ([IdEvento])
GO
ALTER TABLE [dbo].[ResultadoPartido] CHECK CONSTRAINT [FK_ResultadoPartido_Evento]
GO
ALTER TABLE [dbo].[RolComponente]  WITH CHECK ADD  CONSTRAINT [FK_RolComponente_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[RolComponente] CHECK CONSTRAINT [FK_RolComponente_Permiso]
GO
ALTER TABLE [dbo].[RolComponente]  WITH CHECK ADD  CONSTRAINT [FK_RolComponente_RolHijo] FOREIGN KEY([IdRolHijo])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[RolComponente] CHECK CONSTRAINT [FK_RolComponente_RolHijo]
GO
ALTER TABLE [dbo].[RolComponente]  WITH CHECK ADD  CONSTRAINT [FK_RolComponente_RolPadre] FOREIGN KEY([IdRolPadre])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[RolComponente] CHECK CONSTRAINT [FK_RolComponente_RolPadre]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([Id])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Socio] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socio] ([IdSocio])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Socio]
GO
ALTER TABLE [dbo].[AsistenciaEvento]  WITH CHECK ADD  CONSTRAINT [CHK_AsistenciaEvento_Pagado] CHECK  (([Pagado]='N' OR [Pagado]='S'))
GO
ALTER TABLE [dbo].[AsistenciaEvento] CHECK CONSTRAINT [CHK_AsistenciaEvento_Pagado]
GO
ALTER TABLE [dbo].[AsistenciaEvento]  WITH CHECK ADD  CONSTRAINT [CHK_AsistenciaEvento_Tipo] CHECK  (([TipoAsistencia]='PARTICIPANTE' OR [TipoAsistencia]='ESPECTADOR'))
GO
ALTER TABLE [dbo].[AsistenciaEvento] CHECK CONSTRAINT [CHK_AsistenciaEvento_Tipo]
GO
ALTER TABLE [dbo].[ConfiguracionCuota]  WITH CHECK ADD  CONSTRAINT [CHK_ConfiguracionCuota_Activo] CHECK  (([Activo]='N' OR [Activo]='S'))
GO
ALTER TABLE [dbo].[ConfiguracionCuota] CHECK CONSTRAINT [CHK_ConfiguracionCuota_Activo]
GO
ALTER TABLE [dbo].[ConfiguracionEventoDefault]  WITH CHECK ADD  CONSTRAINT [CHK_ConfiguracionEventoDefault_Activo] CHECK  (([Activo]='N' OR [Activo]='S'))
GO
ALTER TABLE [dbo].[ConfiguracionEventoDefault] CHECK CONSTRAINT [CHK_ConfiguracionEventoDefault_Activo]
GO
ALTER TABLE [dbo].[EventoDeportivo]  WITH CHECK ADD  CONSTRAINT [CHK_Evento_Cupo] CHECK  (([CupoEspectadores]>=(0)))
GO
ALTER TABLE [dbo].[EventoDeportivo] CHECK CONSTRAINT [CHK_Evento_Cupo]
GO
ALTER TABLE [dbo].[EventoDeportivo]  WITH CHECK ADD  CONSTRAINT [CHK_Evento_PrecioEntrada] CHECK  (([PrecioEntradaEspectador]>=(0)))
GO
ALTER TABLE [dbo].[EventoDeportivo] CHECK CONSTRAINT [CHK_Evento_PrecioEntrada]
GO
ALTER TABLE [dbo].[EventoDeportivo]  WITH CHECK ADD  CONSTRAINT [CHK_Evento_PrecioParticipacion] CHECK  (([PrecioParticipacionJugador]>=(0)))
GO
ALTER TABLE [dbo].[EventoDeportivo] CHECK CONSTRAINT [CHK_Evento_PrecioParticipacion]
GO
ALTER TABLE [dbo].[InsigniaCatalogo]  WITH CHECK ADD  CONSTRAINT [CHK_InsigniaCatalogo_Activo] CHECK  (([Activo]='N' OR [Activo]='S'))
GO
ALTER TABLE [dbo].[InsigniaCatalogo] CHECK CONSTRAINT [CHK_InsigniaCatalogo_Activo]
GO
ALTER TABLE [dbo].[InsigniaCatalogo]  WITH CHECK ADD  CONSTRAINT [CHK_InsigniaCatalogo_TieneNiveles] CHECK  (([TieneNiveles]='N' OR [TieneNiveles]='S'))
GO
ALTER TABLE [dbo].[InsigniaCatalogo] CHECK CONSTRAINT [CHK_InsigniaCatalogo_TieneNiveles]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [CHK_Inventario_Cantidad] CHECK  (([Cantidad]>=(0)))
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [CHK_Inventario_Cantidad]
GO
ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [CHK_Jugador_Disponible] CHECK  (([Disponible]='N' OR [Disponible]='S'))
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [CHK_Jugador_Disponible]
GO
ALTER TABLE [dbo].[MovimientoFinanciero]  WITH CHECK ADD  CONSTRAINT [CHK_Movimiento_Tipo] CHECK  (([TipoMovimiento]='EGRESO' OR [TipoMovimiento]='INGRESO'))
GO
ALTER TABLE [dbo].[MovimientoFinanciero] CHECK CONSTRAINT [CHK_Movimiento_Tipo]
GO
ALTER TABLE [dbo].[RolComponente]  WITH CHECK ADD  CONSTRAINT [CHK_RolComponente_UnSoloHijo] CHECK  (([IdRolHijo] IS NOT NULL AND [IdPermiso] IS NULL OR [IdRolHijo] IS NULL AND [IdPermiso] IS NOT NULL))
GO
ALTER TABLE [dbo].[RolComponente] CHECK CONSTRAINT [CHK_RolComponente_UnSoloHijo]
GO
ALTER TABLE [dbo].[Socio]  WITH CHECK ADD  CONSTRAINT [CHK_Socio_Activo] CHECK  (([Activo]='N' OR [Activo]='S'))
GO
ALTER TABLE [dbo].[Socio] CHECK CONSTRAINT [CHK_Socio_Activo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CHK_Usuario_Activo] CHECK  (([Activo]='N' OR [Activo]='S'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CHK_Usuario_Activo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CHK_Usuario_Bloqueado] CHECK  (([Bloqueado]='N' OR [Bloqueado]='S'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CHK_Usuario_Bloqueado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CHK_Usuario_Intentos] CHECK  (([IntentosFallidos]>=(0)))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CHK_Usuario_Intentos]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [CHK_Venta_Tipo] CHECK  (([TipoVenta]='OTRO' OR [TipoVenta]='ALQUILER' OR [TipoVenta]='MERCHANDISING' OR [TipoVenta]='BUFFET' OR [TipoVenta]='ENTRADA'))
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [CHK_Venta_Tipo]
GO
/****** Objeto: StoredProcedure [dbo].[ActivarUsuario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActivarUsuario] @usu VARCHAR(50) AS
BEGIN
    UPDATE dbo.Usuario SET Activo = 'S' WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[ActualizaPass] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizaPass] @usu VARCHAR(50), @nuevapass NVARCHAR(255) AS
BEGIN
    UPDATE dbo.Usuario SET Contraseña = @nuevapass WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[ActualizarDVHSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDVHSocio] @idSocio INT, @dvh INT AS
BEGIN
    UPDATE dbo.Socio SET DigitoVerificadorHorizontal = @dvh WHERE IdSocio = @idSocio;
END

GO
/****** Objeto: StoredProcedure [dbo].[ActualizarInsigniaCatalogo] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    v43 - Correcciones de catálogo de insignias y comunicación interna.
    - Actualizar insignia usa IdInsigniaCatalogo, no el nombre, para permitir renombrar sin crear otra.
    - Comunicación interna se puede seleccionar desde la grilla y modificar.
*/

CREATE   PROCEDURE [dbo].[ActualizarInsigniaCatalogo]
    @idInsigniaCatalogo INT,
    @nombre NVARCHAR(100),
    @descripcion NVARCHAR(500),
    @imagen NVARCHAR(200) = NULL,
    @tieneNiveles CHAR(1) = 'S',
    @requisitoNiveles NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.InsigniaCatalogo WHERE IdInsigniaCatalogo = @idInsigniaCatalogo)
    BEGIN
        RAISERROR('La insignia seleccionada no existe.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM dbo.InsigniaCatalogo
        WHERE Nombre = @nombre
          AND IdInsigniaCatalogo <> @idInsigniaCatalogo
          AND Activo = 'S'
    )
    BEGIN
        RAISERROR('Ya existe otra insignia con ese nombre.', 16, 1);
        RETURN;
    END;

    DECLARE @nombreAnterior NVARCHAR(100);
    SELECT @nombreAnterior = Nombre
    FROM dbo.InsigniaCatalogo
    WHERE IdInsigniaCatalogo = @idInsigniaCatalogo;

    UPDATE dbo.InsigniaCatalogo
    SET Nombre = @nombre,
        Descripcion = @descripcion,
        Imagen = COALESCE(NULLIF(@imagen, N''), Imagen),
        TieneNiveles = UPPER(ISNULL(@tieneNiveles, 'S')),
        RequisitoNiveles = @requisitoNiveles,
        Activo = 'S'
    WHERE IdInsigniaCatalogo = @idInsigniaCatalogo;

    UPDATE dbo.InsigniaSocio
    SET Nombre = @nombre,
        Descripcion = @descripcion,
        Imagen = COALESCE(NULLIF(@imagen, N''), Imagen),
        RequisitoNiveles = @requisitoNiveles
    WHERE Nombre = @nombreAnterior;
END;

GO
/****** Objeto: StoredProcedure [dbo].[ActualizarMailSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarMailSocio] @idSocio INT, @mail VARCHAR(100) AS
BEGIN
    UPDATE dbo.Socio SET Email = @mail WHERE IdSocio = @idSocio;
END

GO
/****** Objeto: StoredProcedure [dbo].[ActualizarPublicacion] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarPublicacion]
    @idPublicacion INT,
    @titulo NVARCHAR(120),
    @contenido NVARCHAR(MAX),
    @tipoPublicacion NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Publicacion WHERE IdPublicacion = @idPublicacion)
    BEGIN
        RAISERROR('La comunicación seleccionada no existe.', 16, 1);
        RETURN;
    END;

    UPDATE dbo.Publicacion
    SET Titulo = @titulo,
        Contenido = @contenido,
        TipoPublicacion = @tipoPublicacion
    WHERE IdPublicacion = @idPublicacion;
END;

GO
/****** Objeto: StoredProcedure [dbo].[ActualizarStockInventario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarStockInventario]
    @idInventario INT,
    @cantidad INT,
    @operacion NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SET @operacion = UPPER(LTRIM(RTRIM(@operacion)));
    IF @cantidad <= 0
    BEGIN
        RAISERROR('La cantidad debe ser mayor a cero.', 16, 1);
        RETURN;
    END
    IF @operacion NOT IN ('SUMAR','RESTAR')
    BEGIN
        RAISERROR('Operación inválida. Use SUMAR o RESTAR.', 16, 1);
        RETURN;
    END
    IF NOT EXISTS (SELECT 1 FROM dbo.Inventario WHERE IdInventario = @idInventario)
    BEGIN
        RAISERROR('No se encontró el artículo de inventario seleccionado.', 16, 1);
        RETURN;
    END
    IF @operacion = 'RESTAR' AND EXISTS (SELECT 1 FROM dbo.Inventario WHERE IdInventario = @idInventario AND Cantidad < @cantidad)
    BEGIN
        RAISERROR('No hay stock suficiente para restar esa cantidad.', 16, 1);
        RETURN;
    END

    UPDATE dbo.Inventario
    SET Cantidad = CASE WHEN @operacion = 'SUMAR' THEN Cantidad + @cantidad ELSE Cantidad - @cantidad END
    WHERE IdInventario = @idInventario;
END

GO
/****** Objeto: StoredProcedure [dbo].[AsignarInsigniaSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AsignarInsigniaSocio]
    @idSocio INT,
    @nombre NVARCHAR(100),
    @nivel INT,
    @motivo NVARCHAR(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Socio WHERE IdSocio = @idSocio)
    BEGIN
        RAISERROR('Socio inexistente.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Usuario WHERE IdSocio = @idSocio AND IdRol = 3 AND Activo = 'S')
    BEGIN
        RAISERROR('Solo se pueden asignar insignias a Socio Pleno. El Socio Simple no participa de insignias deportivas.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.InsigniaCatalogo WHERE Nombre = @nombre AND Activo = 'S')
    BEGIN
        RAISERROR('La insignia seleccionada no existe en el catálogo.', 16, 1);
        RETURN;
    END

    DECLARE @descripcion NVARCHAR(500);
    DECLARE @imagen NVARCHAR(200);
    DECLARE @requisito NVARCHAR(MAX);

    SELECT @descripcion = Descripcion,
           @imagen = Imagen,
           @requisito = RequisitoNiveles
    FROM dbo.InsigniaCatalogo
    WHERE Nombre = @nombre AND Activo = 'S';

    IF EXISTS (SELECT 1 FROM dbo.InsigniaSocio WHERE IdSocio = @idSocio AND Nombre = @nombre)
    BEGIN
        UPDATE dbo.InsigniaSocio
        SET Nivel = @nivel,
            Motivo = @motivo,
            Descripcion = @descripcion,
            Imagen = @imagen,
            RequisitoNiveles = @requisito,
            FechaOtorgamiento = GETDATE()
        WHERE IdSocio = @idSocio AND Nombre = @nombre;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.InsigniaSocio (IdSocio, Nombre, Motivo, Nivel, Descripcion, Imagen, RequisitoNiveles)
        VALUES (@idSocio, @nombre, @motivo, @nivel, @descripcion, @imagen, @requisito);
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[BloquearUsuario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BloquearUsuario] @usu VARCHAR(50) AS
BEGIN
    UPDATE dbo.Usuario SET Bloqueado = 'S' WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[CambiarEstadoSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstadoSocio] @idSocio INT, @activo CHAR(1) AS
BEGIN
    UPDATE dbo.Socio SET Activo = @activo WHERE IdSocio = @idSocio;
END

GO
/****** Objeto: StoredProcedure [dbo].[CambiarRolUsuarioPorSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarRolUsuarioPorSocio] @idSocio INT, @idRol INT AS
BEGIN
    UPDATE dbo.Usuario
    SET IdRol = @idRol
    WHERE IdSocio = @idSocio
      AND @idRol IN (2, 3);
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultaIdiomas] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultaIdiomas] AS
BEGIN
    SELECT Id, NombreIdioma FROM dbo.Idioma ORDER BY Id;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarAsistenciasEvento] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarAsistenciasEvento] @idEvento INT = NULL AS
BEGIN
    SET NOCOUNT ON;
    SELECT ae.IdAsistencia, ae.IdEvento, e.Nombre AS Evento, e.Deporte, ae.IdSocio, s.Apellido + ', ' + s.Nombre AS Socio, ae.TipoAsistencia, ae.Importe, ae.Pagado, ae.FechaRegistro
    FROM dbo.AsistenciaEvento ae
    INNER JOIN dbo.EventoDeportivo e ON e.IdEvento = ae.IdEvento
    INNER JOIN dbo.Socio s ON s.IdSocio = ae.IdSocio
    WHERE @idEvento IS NULL OR ae.IdEvento = @idEvento
    ORDER BY ae.FechaRegistro DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarAsistenciasSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarAsistenciasSocio] @idSocio INT AS
BEGIN
    SELECT ae.IdAsistencia, ae.IdSocio, ae.IdEvento, e.Nombre AS Evento, e.Deporte, e.FechaEvento, ae.TipoAsistencia, ae.Importe, ae.Pagado, ae.FechaRegistro
    FROM dbo.AsistenciaEvento ae
    INNER JOIN dbo.EventoDeportivo e ON e.IdEvento = ae.IdEvento
    WHERE ae.IdSocio = @idSocio
    ORDER BY ae.FechaRegistro DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarCatalogoInsignias] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarCatalogoInsignias] AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdInsigniaCatalogo, Nombre, Descripcion, Imagen, TieneNiveles, RequisitoNiveles, Activo
    FROM dbo.InsigniaCatalogo
    WHERE Activo = 'S'
    ORDER BY Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarComponentesRol] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarComponentesRol] @idRol INT AS
BEGIN
    SELECT 'ROL' AS TipoComponente, r.IdRol AS IdComponente, r.Nombre
    FROM dbo.RolComponente rc INNER JOIN dbo.Rol r ON r.IdRol = rc.IdRolHijo
    WHERE rc.IdRolPadre = @idRol AND rc.IdRolHijo IS NOT NULL
    UNION ALL
    SELECT 'PERMISO' AS TipoComponente, p.IdPermiso AS IdComponente, p.Nombre
    FROM dbo.RolComponente rc INNER JOIN dbo.Permiso p ON p.IdPermiso = rc.IdPermiso
    WHERE rc.IdRolPadre = @idRol AND rc.IdPermiso IS NOT NULL
    ORDER BY TipoComponente, Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarConfiguracionCuotas] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarConfiguracionCuotas] AS
BEGIN
    SET NOCOUNT ON;
    SELECT cc.IdConfiguracion, r.Nombre AS Rol, cc.Concepto, cc.Importe, cc.Activo
    FROM dbo.ConfiguracionCuota cc
    INNER JOIN dbo.Rol r ON r.IdRol = cc.IdRol
    UNION ALL
    SELECT IdConfiguracion, N'Eventos' AS Rol, Concepto, Importe, Activo
    FROM dbo.ConfiguracionEventoDefault
    ORDER BY IdConfiguracion;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarConvocatoriasEvento] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarConvocatoriasEvento] AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        ce.IdConvocatoria,
        ce.IdEvento,
        e.Nombre AS Evento,
        e.Deporte,
        e.FechaEvento,
        e.Lugar,
        ce.IdJugador,
        j.IdSocio,
        s.Apellido + ', ' + s.Nombre AS Socio,
        j.Posicion,
        ce.EstadoRespuesta,
        e.PrecioParticipacionJugador AS FeeJugador
    FROM dbo.ConvocatoriaEvento ce
    INNER JOIN dbo.EventoDeportivo e ON e.IdEvento = ce.IdEvento
    INNER JOIN dbo.Jugador j ON j.IdJugador = ce.IdJugador
    INNER JOIN dbo.Socio s ON s.IdSocio = j.IdSocio
    ORDER BY e.FechaEvento DESC, ce.EstadoRespuesta, s.Apellido, s.Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarDigitosVerticales] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarDigitosVerticales] @entidad NVARCHAR(100) AS
BEGIN
    SELECT Entidad, Campo, Valor, FechaCalculo FROM dbo.DigitoVerificadorVertical WHERE Entidad = @entidad;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarEventosDeportivos] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarEventosDeportivos] AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdEvento, Nombre, Deporte, FechaEvento, Lugar, Estado, CupoEspectadores, PrecioEntradaEspectador, PrecioParticipacionJugador
    FROM dbo.EventoDeportivo
    ORDER BY FechaEvento DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarHistorialMailSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarHistorialMailSocio] @idSocio INT = NULL AS
BEGIN
    SELECT IdHistorico, IdSocio, Email, FechaCreacion
    FROM dbo.HistorialSocio
    WHERE @idSocio IS NULL OR IdSocio = @idSocio
    ORDER BY FechaCreacion DESC, IdHistorico DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarInsignias] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarInsignias] AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        i.IdInsignia,
        i.IdSocio,
        s.Apellido + ', ' + s.Nombre AS Socio,
        i.Nombre,
        i.Nivel,
        i.Motivo,
        i.Descripcion,
        i.RequisitoNiveles,
        i.Imagen,
        i.FechaOtorgamiento
    FROM dbo.InsigniaSocio i
    INNER JOIN dbo.Socio s ON s.IdSocio = i.IdSocio
    ORDER BY i.FechaOtorgamiento DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarInsigniasCalculadasSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarInsigniasCalculadasSocio] @idSocio INT AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @fechaAlta DATETIME;
    DECLARE @aniosSocio INT;
    DECLARE @nivelMuchachos INT;
    DECLARE @partidosGanados INT;
    DECLARE @nivelAsDeportivo INT;
    DECLARE @convocatoriasAsistidas INT;
    DECLARE @nivelTodosPorElClub INT;
    DECLARE @deportesDistintos INT;
    DECLARE @nivelMulticlass INT;

    SELECT @fechaAlta = MIN(u.FechaCreacion)
    FROM dbo.Usuario u
    WHERE u.IdSocio = @idSocio;

    IF @fechaAlta IS NULL SET @fechaAlta = GETDATE();

    SET @aniosSocio = DATEDIFF(YEAR, @fechaAlta, GETDATE());
    IF DATEADD(YEAR, @aniosSocio, @fechaAlta) > GETDATE() SET @aniosSocio = @aniosSocio - 1;
    IF @aniosSocio < 0 SET @aniosSocio = 0;

    SET @nivelMuchachos = @aniosSocio / 5;

    SELECT @convocatoriasAsistidas = COUNT(1)
    FROM dbo.ConvocatoriaEvento ce
    INNER JOIN dbo.Jugador j ON j.IdJugador = ce.IdJugador
    WHERE j.IdSocio = @idSocio
      AND UPPER(ce.EstadoRespuesta) IN ('ASISTIO', 'ASISTIÓ', 'ASISTIDA', 'ASISTIDO', 'PRESENTE', 'CONFIRMADA', 'CONFIRMADO');

    SET @nivelTodosPorElClub = ISNULL(@convocatoriasAsistidas, 0) / 25;

    SELECT @partidosGanados = COUNT(DISTINCT r.IdResultado)
    FROM dbo.ResultadoPartido r
    INNER JOIN dbo.ConvocatoriaEvento ce ON ce.IdEvento = r.IdEvento
    INNER JOIN dbo.Jugador j ON j.IdJugador = ce.IdJugador
    WHERE j.IdSocio = @idSocio
      AND UPPER(ce.EstadoRespuesta) IN ('ASISTIO', 'ASISTIÓ', 'ASISTIDA', 'ASISTIDO', 'PRESENTE', 'CONFIRMADA', 'CONFIRMADO')
      AND (UPPER(r.Resultado) LIKE '%GAN%' OR UPPER(r.Resultado) LIKE '%WIN%');

    SET @nivelAsDeportivo = ISNULL(@partidosGanados, 0) / 50;

    SELECT @deportesDistintos = COUNT(DISTINCT UPPER(LTRIM(RTRIM(Deporte))))
    FROM dbo.Jugador
    WHERE IdSocio = @idSocio AND Deporte IS NOT NULL AND LTRIM(RTRIM(Deporte)) <> '';

    SET @nivelMulticlass = CASE WHEN ISNULL(@deportesDistintos, 0) > 3 THEN 1 ELSE 0 END;

    SELECT @nivelMuchachos = CASE WHEN MAX(Nivel) > @nivelMuchachos THEN MAX(Nivel) ELSE @nivelMuchachos END FROM dbo.InsigniaSocio WHERE IdSocio = @idSocio AND Nombre = N'Muchachos';
    SELECT @nivelAsDeportivo = CASE WHEN MAX(Nivel) > @nivelAsDeportivo THEN MAX(Nivel) ELSE @nivelAsDeportivo END FROM dbo.InsigniaSocio WHERE IdSocio = @idSocio AND Nombre = N'As deportivo';
    SELECT @nivelTodosPorElClub = CASE WHEN MAX(Nivel) > @nivelTodosPorElClub THEN MAX(Nivel) ELSE @nivelTodosPorElClub END FROM dbo.InsigniaSocio WHERE IdSocio = @idSocio AND Nombre = N'Todos por el club';
    SELECT @nivelMulticlass = CASE WHEN MAX(Nivel) > @nivelMulticlass THEN MAX(Nivel) ELSE @nivelMulticlass END FROM dbo.InsigniaSocio WHERE IdSocio = @idSocio AND Nombre = N'Multiclass';

    SELECT
        N'Muchachos' AS Insignia,
        @nivelMuchachos AS Nivel,
        CASE WHEN @nivelMuchachos > 0 THEN N'Muchachos ' + CAST(@nivelMuchachos AS NVARCHAR(10)) ELSE N'Muchachos' END AS TituloNivel,
        CAST(@aniosSocio AS NVARCHAR(20)) + N' años de socio' AS Progreso,
        CASE WHEN @nivelMuchachos > 0 THEN CAST(@nivelMuchachos * 5 AS NVARCHAR(20)) + N' años con el club. Reconoce antigüedad, pertenencia y fidelidad institucional.' ELSE N'Aún no obtenida. Se obtiene al cumplir 5 años como socio.' END AS DescripcionNivel,
        N'1 nivel cada 5 años de antigüedad como socio.' AS Regla,
        CASE WHEN @nivelMuchachos > 0 THEN N'Obtenida' ELSE N'Pendiente' END AS Estado,
        COALESCE((SELECT TOP 1 Imagen FROM dbo.InsigniaCatalogo WHERE Nombre = N'Muchachos'), N'muchachos.png') AS Imagen
    UNION ALL
    SELECT N'As deportivo', @nivelAsDeportivo, CASE WHEN @nivelAsDeportivo > 0 THEN N'As deportivo ' + CAST(@nivelAsDeportivo AS NVARCHAR(10)) ELSE N'As deportivo' END, CAST(ISNULL(@partidosGanados, 0) AS NVARCHAR(20)) + N' partidos ganados', CASE WHEN @nivelAsDeportivo > 0 THEN CAST(@nivelAsDeportivo * 50 AS NVARCHAR(20)) + N' partidos ganados. Reconoce rendimiento competitivo y aporte deportivo al club.' ELSE N'Aún no obtenida. Se obtiene al alcanzar 50 partidos ganados.' END, N'1 nivel cada 50 partidos ganados.', CASE WHEN @nivelAsDeportivo > 0 THEN N'Obtenida' ELSE N'Pendiente' END, COALESCE((SELECT TOP 1 Imagen FROM dbo.InsigniaCatalogo WHERE Nombre = N'As deportivo'), N'as_deportivo.png')
    UNION ALL
    SELECT N'Todos por el club', @nivelTodosPorElClub, CASE WHEN @nivelTodosPorElClub > 0 THEN N'Todos por el club ' + CAST(@nivelTodosPorElClub AS NVARCHAR(10)) ELSE N'Todos por el club' END, CAST(ISNULL(@convocatoriasAsistidas, 0) AS NVARCHAR(20)) + N' convocatorias asistidas', CASE WHEN @nivelTodosPorElClub > 0 THEN CAST(@nivelTodosPorElClub * 25 AS NVARCHAR(20)) + N' convocatorias asistidas. Reconoce compromiso, presencia y respuesta al llamado del club.' ELSE N'Aún no obtenida. Se obtiene al asistir 25 convocatorias.' END, N'1 nivel cada 25 convocatorias asistidas.', CASE WHEN @nivelTodosPorElClub > 0 THEN N'Obtenida' ELSE N'Pendiente' END, COALESCE((SELECT TOP 1 Imagen FROM dbo.InsigniaCatalogo WHERE Nombre = N'Todos por el club'), N'todos_por_el_club.png')
    UNION ALL
    SELECT N'Multiclass', @nivelMulticlass, CASE WHEN @nivelMulticlass > 0 THEN N'Multiclass ' + CAST(@nivelMulticlass AS NVARCHAR(10)) ELSE N'Multiclass' END, CAST(ISNULL(@deportesDistintos, 0) AS NVARCHAR(20)) + N' deportes distintos', CASE WHEN @nivelMulticlass > 0 THEN N'Participa en más de 3 deportes distintos. Reconoce versatilidad deportiva dentro del club.' ELSE N'Aún no obtenida. Se obtiene jugando más de 3 deportes distintos.' END, N'Se obtiene al participar en más de 3 deportes distintos.', CASE WHEN @nivelMulticlass > 0 THEN N'Obtenida' ELSE N'Pendiente' END, COALESCE((SELECT TOP 1 Imagen FROM dbo.InsigniaCatalogo WHERE Nombre = N'Multiclass'), N'multiclass.png')
    UNION ALL
    SELECT
        i.Nombre,
        MAX(i.Nivel),
        i.Nombre + N' ' + CAST(MAX(i.Nivel) AS NVARCHAR(10)),
        N'Asignación manual',
        COALESCE(MAX(i.Descripcion), MAX(c.Descripcion), MAX(i.Motivo), N'Insignia asignada manualmente por administración.'),
        COALESCE(MAX(i.RequisitoNiveles), MAX(c.RequisitoNiveles), N'Asignada manualmente por un administrador.'),
        N'Obtenida',
        COALESCE(MAX(i.Imagen), MAX(c.Imagen), N'')
    FROM dbo.InsigniaSocio i
    LEFT JOIN dbo.InsigniaCatalogo c ON c.Nombre = i.Nombre
    WHERE i.IdSocio = @idSocio
      AND i.Nombre NOT IN (N'Muchachos', N'As deportivo', N'Todos por el club', N'Multiclass')
    GROUP BY i.Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarInventario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarInventario] AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdInventario, Nombre, Cantidad, Ubicacion, Estado
    FROM dbo.Inventario
    ORDER BY Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarJugadores] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarJugadores] AS
BEGIN
    SELECT j.IdJugador, j.IdSocio, s.Apellido + ', ' + s.Nombre AS Socio, j.Deporte, j.Posicion, j.Disponible FROM dbo.Jugador j INNER JOIN dbo.Socio s ON s.IdSocio = j.IdSocio ORDER BY j.Deporte, Socio;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarMovimientosFinancieros] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarMovimientosFinancieros] AS
BEGIN
    SELECT IdMovimiento, FechaMovimiento, TipoMovimiento, Concepto, Importe FROM dbo.MovimientoFinanciero ORDER BY FechaMovimiento DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarPagos] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarPagos] AS
BEGIN
    SELECT p.IdPago, p.IdSocio, s.Apellido + ', ' + s.Nombre AS Socio, p.FechaPago, p.Concepto, p.Importe, p.Estado FROM dbo.Pago p INNER JOIN dbo.Socio s ON s.IdSocio = p.IdSocio ORDER BY p.FechaPago DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarPermisos] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarPermisos] @idRol INT AS
BEGIN
    SELECT p.IdPermiso, p.Nombre FROM dbo.RolComponente rc INNER JOIN dbo.Permiso p ON p.IdPermiso = rc.IdPermiso WHERE rc.IdRolPadre = @idRol ORDER BY p.Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarPublicaciones] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarPublicaciones] AS
BEGIN
    SELECT IdPublicacion, Titulo, TipoPublicacion, FechaPublicacion, UsuarioAutor, Contenido FROM dbo.Publicacion ORDER BY FechaPublicacion DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarReportesClub] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarReportesClub] AS
BEGIN
    SET NOCOUNT ON;
    SELECT N'Socios activos' AS Indicador, CONVERT(NVARCHAR(50), COUNT(*)) AS Valor FROM dbo.Socio WHERE Activo = 'S'
    UNION ALL SELECT N'Socios dados de baja', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.Socio WHERE Activo <> 'S'
    UNION ALL SELECT N'Socios simples', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.Usuario WHERE IdRol = 2
    UNION ALL SELECT N'Socios plenos', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.Usuario WHERE IdRol = 3
    UNION ALL SELECT N'Pagos pendientes', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.Pago WHERE UPPER(Estado) LIKE '%PEND%'
    UNION ALL SELECT N'Deuda pendiente', CONVERT(NVARCHAR(50), ISNULL(SUM(Importe),0)) FROM dbo.Pago WHERE UPPER(Estado) LIKE '%PEND%'
    UNION ALL SELECT N'Ingresos registrados', CONVERT(NVARCHAR(50), ISNULL(SUM(Importe),0)) FROM dbo.MovimientoFinanciero WHERE TipoMovimiento = 'INGRESO'
    UNION ALL SELECT N'Egresos registrados', CONVERT(NVARCHAR(50), ISNULL(SUM(Importe),0)) FROM dbo.MovimientoFinanciero WHERE TipoMovimiento = 'EGRESO'
    UNION ALL SELECT N'Balance actual', CONVERT(NVARCHAR(50), ISNULL(SUM(CASE WHEN TipoMovimiento = 'INGRESO' THEN Importe ELSE -Importe END),0)) FROM dbo.MovimientoFinanciero
    UNION ALL SELECT N'Eventos creados', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.EventoDeportivo
    UNION ALL SELECT N'Convocatorias pendientes', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.ConvocatoriaEvento WHERE EstadoRespuesta = 'PENDIENTE'
    UNION ALL SELECT N'Convocatorias confirmadas/asistidas', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.ConvocatoriaEvento WHERE EstadoRespuesta IN ('CONFIRMADA','ASISTIO')
    UNION ALL SELECT N'Artículos de inventario', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.Inventario
    UNION ALL SELECT N'Unidades de inventario', CONVERT(NVARCHAR(50), ISNULL(SUM(Cantidad),0)) FROM dbo.Inventario
    UNION ALL SELECT N'Insignias asignadas', CONVERT(NVARCHAR(50), COUNT(*)) FROM dbo.InsigniaSocio;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarResultadosPartidos] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarResultadosPartidos] AS
BEGIN
    SET NOCOUNT ON;
    SELECT r.IdResultado, r.IdEvento, e.Nombre AS Evento, e.Deporte, e.FechaEvento, r.EquipoLocal, r.EquipoVisitante, r.Resultado, r.FechaCarga
    FROM dbo.ResultadoPartido r
    INNER JOIN dbo.EventoDeportivo e ON e.IdEvento = r.IdEvento
    ORDER BY r.FechaCarga DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarRol] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarRol] @id INT AS
BEGIN
    SELECT IdRol, Nombre FROM dbo.Rol WHERE IdRol = @id;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarRoles] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarRoles] AS
BEGIN
    SELECT IdRol, Nombre FROM dbo.Rol ORDER BY Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarSocios] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarSocios] @incluirInactivos BIT AS
BEGIN
    SELECT IdSocio, TipoDocumento, NumeroDocumento, Nombre, Apellido, FechaNacimiento, Nacionalidad, Email, Telefono, Activo, DigitoVerificadorHorizontal
    FROM dbo.Socio
    WHERE @incluirInactivos = 1 OR Activo = 'S'
    ORDER BY Apellido, Nombre;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultarVentas] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarVentas] AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdVenta, FechaVenta, TipoVenta, Descripcion, Importe
    FROM dbo.Venta
    ORDER BY FechaVenta DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultaTraducciones] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultaTraducciones] @id INT AS
BEGIN
    SELECT Id, NombreControl, Traduccion FROM dbo.Traduccion WHERE IdIdioma = @id ORDER BY NombreControl;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultaUsrPass] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultaUsrPass] @usu VARCHAR(50), @pass NVARCHAR(255) AS
BEGIN
    SELECT NombreUsuario, Contraseña, Bloqueado, Activo, IntentosFallidos FROM dbo.Usuario WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[ConsultaUsuario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultaUsuario] @usu VARCHAR(50) AS
BEGIN
    SELECT NombreUsuario FROM dbo.Usuario WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[DesactivarUsuario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesactivarUsuario] @usu VARCHAR(50) AS
BEGIN
    UPDATE dbo.Usuario SET Activo = 'N' WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[DesbloquearUsuario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesbloquearUsuario] @usu VARCHAR(50) AS
BEGIN
    UPDATE dbo.Usuario SET Bloqueado = 'N', IntentosFallidos = 0 WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[EliminarIdioma] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarIdioma] @idIdioma INT AS
BEGIN
    SET NOCOUNT ON;

    IF @idIdioma IN (1, 2)
    BEGIN
        RAISERROR('No se pueden eliminar Español ni English porque son idiomas base del sistema.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Idioma WHERE Id = @idIdioma)
    BEGIN
        RAISERROR('El idioma seleccionado no existe.', 16, 1);
        RETURN;
    END

    DELETE FROM dbo.Traduccion WHERE IdIdioma = @idIdioma;
    DELETE FROM dbo.Idioma WHERE Id = @idIdioma;
END

GO
/****** Objeto: StoredProcedure [dbo].[ExisteDigitoVertical] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExisteDigitoVertical] @entidad NVARCHAR(100) AS
BEGIN
    SELECT COUNT(1) FROM dbo.DigitoVerificadorVertical WHERE Entidad = @entidad;
END

GO
/****** Objeto: StoredProcedure [dbo].[GuardarConfiguracionGeneral] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarConfiguracionGeneral]
    @idConfiguracion INT,
    @importe DECIMAL(18,2),
    @activo CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;
    IF @importe < 0
    BEGIN
        RAISERROR('El importe no puede ser negativo.', 16, 1);
        RETURN;
    END

    SET @activo = UPPER(ISNULL(@activo, 'S'));
    IF @activo NOT IN ('S','N') SET @activo = 'S';

    IF @idConfiguracion >= 10000
    BEGIN
        UPDATE dbo.ConfiguracionEventoDefault
        SET Importe = @importe, Activo = @activo
        WHERE IdConfiguracion = @idConfiguracion;
    END
    ELSE
    BEGIN
        UPDATE dbo.ConfiguracionCuota
        SET Importe = @importe, Activo = @activo
        WHERE IdConfiguracion = @idConfiguracion;
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[GuardarDigitoVertical] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarDigitoVertical] @entidad NVARCHAR(100), @campo NVARCHAR(100), @valor INT AS
BEGIN
    IF EXISTS (SELECT 1 FROM dbo.DigitoVerificadorVertical WHERE Entidad = @entidad AND Campo = @campo)
        UPDATE dbo.DigitoVerificadorVertical SET Valor = @valor, FechaCalculo = GETDATE() WHERE Entidad = @entidad AND Campo = @campo;
    ELSE
        INSERT INTO dbo.DigitoVerificadorVertical (Entidad, Campo, Valor) VALUES (@entidad, @campo, @valor);
END

GO
/****** Objeto: StoredProcedure [dbo].[GuardarInsigniaCatalogo] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarInsigniaCatalogo]
    @nombre NVARCHAR(100),
    @descripcion NVARCHAR(500),
    @imagen NVARCHAR(200) = NULL,
    @tieneNiveles CHAR(1) = 'S',
    @requisitoNiveles NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.InsigniaCatalogo WHERE Nombre = @nombre)
    BEGIN
        UPDATE dbo.InsigniaCatalogo
        SET Descripcion = @descripcion,
            Imagen = COALESCE(NULLIF(@imagen, N''), Imagen),
            TieneNiveles = UPPER(ISNULL(@tieneNiveles, 'S')),
            RequisitoNiveles = @requisitoNiveles,
            Activo = 'S'
        WHERE Nombre = @nombre;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.InsigniaCatalogo (Nombre, Descripcion, Imagen, TieneNiveles, RequisitoNiveles, Activo)
        VALUES (@nombre, @descripcion, NULLIF(@imagen, N''), UPPER(ISNULL(@tieneNiveles, 'S')), @requisitoNiveles, 'S');
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[GuardarTraduccion] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarTraduccion] @idIdioma INT, @nombreControl NVARCHAR(100), @traduccion NVARCHAR(255) AS
BEGIN
    IF EXISTS (SELECT 1 FROM dbo.Traduccion WHERE IdIdioma = @idIdioma AND NombreControl = @nombreControl)
        UPDATE dbo.Traduccion SET Traduccion = @traduccion WHERE IdIdioma = @idIdioma AND NombreControl = @nombreControl;
    ELSE
        INSERT INTO dbo.Traduccion (NombreControl, IdIdioma, Traduccion) VALUES (@nombreControl, @idIdioma, @traduccion);
END

GO
/****** Objeto: StoredProcedure [dbo].[IdMaximo] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IdMaximo] AS
BEGIN
    SELECT ISNULL(MAX(IdSocio), 0) + 1 FROM dbo.Socio;
END

GO
/****** Objeto: StoredProcedure [dbo].[IncrementarIntentosFallidos] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncrementarIntentosFallidos] @usu VARCHAR(50) AS
BEGIN
    UPDATE dbo.Usuario SET IntentosFallidos = IntentosFallidos + 1 WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[ModificarSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarSocio]
    @idSocio INT, @tipDoc VARCHAR(10), @nroDoc INT, @nombre VARCHAR(50), @apellido VARCHAR(50), @fecNac DATETIME,
    @nacionalidad VARCHAR(50), @mail VARCHAR(100), @telefono INT, @activo CHAR(1)
AS
BEGIN
    UPDATE dbo.Socio
    SET TipoDocumento = @tipDoc, NumeroDocumento = @nroDoc, Nombre = @nombre, Apellido = @apellido,
        FechaNacimiento = @fecNac, Nacionalidad = @nacionalidad, Email = @mail, Telefono = @telefono, Activo = @activo
    WHERE IdSocio = @idSocio;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerCuotaSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCuotaSocio] @idSocio INT AS
BEGIN
    SELECT TOP 1 cc.Concepto, cc.Importe
    FROM dbo.Usuario u
    INNER JOIN dbo.ConfiguracionCuota cc ON cc.IdRol = u.IdRol AND cc.Activo = 'S'
    WHERE u.IdSocio = @idSocio
    ORDER BY cc.IdConfiguracion DESC;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerHistorialMailSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerHistorialMailSocio] @idSocio INT, @idHistorico INT AS
BEGIN
    SELECT IdHistorico, IdSocio, Email, FechaCreacion
    FROM dbo.HistorialSocio
    WHERE IdSocio = @idSocio AND IdHistorico = @idHistorico;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSocio] @idSocio INT AS
BEGIN
    SELECT IdSocio, TipoDocumento, NumeroDocumento, Nombre, Apellido, FechaNacimiento, Nacionalidad, Email, Telefono, Activo, DigitoVerificadorHorizontal
    FROM dbo.Socio WHERE IdSocio = @idSocio;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuarioPorIdSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorIdSocio] @idSocio INT AS
BEGIN
    SELECT u.IdSocio, u.NombreUsuario, u.Contraseña, u.FechaCreacion, u.Bloqueado, u.Activo, u.IntentosFallidos, u.IdRol,
           r.Nombre AS NombreRol, s.TipoDocumento, s.NumeroDocumento, s.Nombre, s.Apellido, s.Email
    FROM dbo.Usuario u
    INNER JOIN dbo.Socio s ON s.IdSocio = u.IdSocio
    INNER JOIN dbo.Rol r ON r.IdRol = u.IdRol
    WHERE u.IdSocio = @idSocio;
END

GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuarioPorNombre] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorNombre] @usu VARCHAR(50) AS
BEGIN
    SELECT u.IdSocio, u.NombreUsuario, u.Contraseña, u.FechaCreacion, u.Bloqueado, u.Activo, u.IntentosFallidos, u.IdRol,
           r.Nombre AS NombreRol, s.TipoDocumento, s.NumeroDocumento, s.Nombre, s.Apellido, s.Email
    FROM dbo.Usuario u
    INNER JOIN dbo.Socio s ON s.IdSocio = u.IdSocio
    INNER JOIN dbo.Rol r ON r.IdRol = u.IdRol
    WHERE u.NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarAsistenciaEventoSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarAsistenciaEventoSocio]
    @idSocio INT,
    @idEvento INT,
    @tipoAsistencia NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @tipo NVARCHAR(20) = UPPER(LTRIM(RTRIM(@tipoAsistencia)));
    DECLARE @idRol INT;
    DECLARE @nombreEvento NVARCHAR(120);
    DECLARE @importe DECIMAL(18,2);
    DECLARE @concepto NVARCHAR(160);

    IF @tipo NOT IN ('ESPECTADOR', 'PARTICIPANTE')
    BEGIN
        RAISERROR('Tipo de asistencia inválido. Use ESPECTADOR o PARTICIPANTE.', 16, 1);
        RETURN;
    END

    SELECT @idRol = IdRol FROM dbo.Usuario WHERE IdSocio = @idSocio AND Activo = 'S';
    IF @idRol IS NULL
    BEGIN
        RAISERROR('Socio inexistente o sin usuario activo.', 16, 1);
        RETURN;
    END

    IF @tipo = 'PARTICIPANTE' AND @idRol <> 3
    BEGIN
        RAISERROR('Solo un Socio Pleno puede participar como jugador. El Socio Simple solo puede asistir como espectador.', 16, 1);
        RETURN;
    END

    SELECT
        @nombreEvento = Nombre,
        @importe = CASE WHEN @tipo = 'ESPECTADOR' THEN PrecioEntradaEspectador ELSE PrecioParticipacionJugador END
    FROM dbo.EventoDeportivo
    WHERE IdEvento = @idEvento AND UPPER(Estado) <> 'CANCELADO';

    IF @nombreEvento IS NULL
    BEGIN
        RAISERROR('Evento inexistente o cancelado.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.AsistenciaEvento WHERE IdSocio = @idSocio AND IdEvento = @idEvento AND TipoAsistencia = @tipo)
    BEGIN
        RAISERROR('El socio ya tiene registrada esa asistencia para este evento.', 16, 1);
        RETURN;
    END

    SET @concepto = CASE WHEN @tipo = 'ESPECTADOR' THEN N'Entrada espectador: ' ELSE N'Participación deportiva: ' END + @nombreEvento;

    INSERT INTO dbo.AsistenciaEvento (IdSocio, IdEvento, TipoAsistencia, Importe, Pagado)
    VALUES (@idSocio, @idEvento, @tipo, @importe, 'N');

    INSERT INTO dbo.Pago (IdSocio, FechaPago, Concepto, Importe, Estado)
    VALUES (@idSocio, GETDATE(), @concepto, @importe, 'PENDIENTE');
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarConvocatoriaEvento] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarConvocatoriaEvento]
    @idEvento INT,
    @idJugador INT,
    @estadoRespuesta NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    SET @estadoRespuesta = UPPER(LTRIM(RTRIM(@estadoRespuesta)));

    IF EXISTS (SELECT 1 FROM dbo.ConvocatoriaEvento WHERE IdEvento = @idEvento AND IdJugador = @idJugador)
        UPDATE dbo.ConvocatoriaEvento SET EstadoRespuesta = @estadoRespuesta WHERE IdEvento = @idEvento AND IdJugador = @idJugador;
    ELSE
        INSERT INTO dbo.ConvocatoriaEvento (IdEvento, IdJugador, EstadoRespuesta) VALUES (@idEvento, @idJugador, @estadoRespuesta);

    IF @estadoRespuesta IN ('CONFIRMADA','ASISTIO')
    BEGIN
        DECLARE @idSocio INT;
        SELECT @idSocio = IdSocio FROM dbo.Jugador WHERE IdJugador = @idJugador;
        IF @idSocio IS NOT NULL AND NOT EXISTS (SELECT 1 FROM dbo.AsistenciaEvento WHERE IdSocio = @idSocio AND IdEvento = @idEvento AND TipoAsistencia = 'PARTICIPANTE')
        BEGIN
            EXEC dbo.RegistrarAsistenciaEventoSocio @idSocio, @idEvento, 'PARTICIPANTE';
        END
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarEventoDeportivo] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarEventoDeportivo]
    @nombre NVARCHAR(120),
    @deporte NVARCHAR(80),
    @fechaEvento DATETIME,
    @lugar NVARCHAR(120),
    @estado NVARCHAR(30),
    @cupoEspectadores INT = 100,
    @precioEntradaEspectador DECIMAL(18,2) = NULL,
    @precioParticipacionJugador DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @precioEntradaEspectador = COALESCE(@precioEntradaEspectador, (SELECT TOP 1 Importe FROM dbo.ConfiguracionEventoDefault WHERE IdConfiguracion = 10001 AND Activo = 'S'), 3000);
    SET @precioParticipacionJugador = COALESCE(@precioParticipacionJugador, (SELECT TOP 1 Importe FROM dbo.ConfiguracionEventoDefault WHERE IdConfiguracion = 10002 AND Activo = 'S'), 2000);

    IF @cupoEspectadores IS NULL OR @cupoEspectadores < 0 SET @cupoEspectadores = 100;
    IF @precioEntradaEspectador < 0 OR @precioParticipacionJugador < 0
    BEGIN
        RAISERROR('Los importes del evento no pueden ser negativos.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.EventoDeportivo (Nombre, Deporte, FechaEvento, Lugar, Estado, CupoEspectadores, PrecioEntradaEspectador, PrecioParticipacionJugador)
    VALUES (@nombre, @deporte, @fechaEvento, @lugar, @estado, @cupoEspectadores, @precioEntradaEspectador, @precioParticipacionJugador);

    DECLARE @idEvento INT = SCOPE_IDENTITY();
    DECLARE @contenido NVARCHAR(MAX);
    SET @contenido = N'Estás invitado a participar del evento "' + @nombre + N'".' + CHAR(13) + CHAR(10) +
                     N'Deporte: ' + @deporte + CHAR(13) + CHAR(10) +
                     N'Lugar: ' + ISNULL(@lugar, N'A confirmar') + CHAR(13) + CHAR(10) +
                     N'Fecha: ' + CONVERT(NVARCHAR(20), @fechaEvento, 120) + CHAR(13) + CHAR(10) +
                     N'Entrada espectador: $' + CONVERT(NVARCHAR(30), @precioEntradaEspectador) + CHAR(13) + CHAR(10) +
                     N'Fee participante: $' + CONVERT(NVARCHAR(30), @precioParticipacionJugador) + CHAR(13) + CHAR(10) +
                     N'Los socios pueden anotarse desde el portal. Si se anotan, el importe queda pendiente en sus cuotas.';

    INSERT INTO dbo.Publicacion (Titulo, Contenido, TipoPublicacion, UsuarioAutor)
    VALUES (N'Nuevo evento: ' + @nombre, @contenido, N'EVENTO', N'Sistema');

    INSERT INTO dbo.ConvocatoriaEvento (IdEvento, IdJugador, EstadoRespuesta)
    SELECT @idEvento, j.IdJugador, N'PENDIENTE'
    FROM dbo.Jugador j
    WHERE UPPER(j.Deporte) = UPPER(@deporte)
      AND UPPER(j.Disponible) = 'S'
      AND NOT EXISTS (SELECT 1 FROM dbo.ConvocatoriaEvento ce WHERE ce.IdEvento = @idEvento AND ce.IdJugador = j.IdJugador);
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarHistorialMailSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarHistorialMailSocio] @idSocio INT, @mail VARCHAR(100) AS
BEGIN
    DECLARE @idHistorico INT;

    SELECT @idHistorico = ISNULL(MAX(IdHistorico), 0) + 1
    FROM dbo.HistorialSocio
    WHERE IdSocio = @idSocio;

    INSERT INTO dbo.HistorialSocio (IdHistorico, IdSocio, Email, FechaCreacion)
    VALUES (@idHistorico, @idSocio, @mail, GETDATE());
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarIdioma] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarIdioma] @nombreIdioma NVARCHAR(50) AS
BEGIN
    INSERT INTO dbo.Idioma (NombreIdioma) VALUES (@nombreIdioma);
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarInsignia] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarInsignia] @idSocio INT, @nombre NVARCHAR(100), @motivo NVARCHAR(300) AS
BEGIN
    EXEC dbo.AsignarInsigniaSocio @idSocio, @nombre, 1, @motivo;
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarInventario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarInventario]
    @nombre NVARCHAR(120),
    @cantidad INT,
    @ubicacion NVARCHAR(120),
    @estado NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    IF @cantidad < 0
    BEGIN
        RAISERROR('La cantidad no puede ser negativa.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Inventario WHERE UPPER(Nombre) = UPPER(@nombre))
    BEGIN
        UPDATE dbo.Inventario
        SET Cantidad = @cantidad,
            Ubicacion = @ubicacion,
            Estado = @estado
        WHERE UPPER(Nombre) = UPPER(@nombre);
    END
    ELSE
    BEGIN
        INSERT INTO dbo.Inventario (Nombre, Cantidad, Ubicacion, Estado)
        VALUES (@nombre, @cantidad, @ubicacion, @estado);
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarJugador] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarJugador]
    @idSocio INT,
    @deporte NVARCHAR(80),
    @posicion NVARCHAR(80),
    @disponible CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;

    SET @deporte = LTRIM(RTRIM(@deporte));
    SET @disponible = UPPER(LEFT(ISNULL(@disponible, 'S'), 1));

    IF @disponible NOT IN ('S', 'N')
    BEGIN
        RAISERROR('Disponible debe ser S o N.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Jugador WHERE IdSocio = @idSocio AND Deporte = @deporte)
    BEGIN
        UPDATE dbo.Jugador
        SET Posicion = @posicion,
            Disponible = @disponible
        WHERE IdSocio = @idSocio
          AND Deporte = @deporte;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.Jugador (IdSocio, Deporte, Posicion, Disponible)
        VALUES (@idSocio, @deporte, @posicion, @disponible);
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarMovimientoFinanciero] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarMovimientoFinanciero]
    @fechaMovimiento DATETIME,
    @tipoMovimiento NVARCHAR(20),
    @concepto NVARCHAR(120),
    @importe DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    SET @tipoMovimiento = UPPER(LTRIM(RTRIM(@tipoMovimiento)));
    IF @tipoMovimiento NOT IN ('INGRESO','EGRESO')
    BEGIN
        RAISERROR('Seleccione INGRESO o EGRESO como tipo de movimiento.', 16, 1);
        RETURN;
    END
    INSERT INTO dbo.MovimientoFinanciero (FechaMovimiento, TipoMovimiento, Concepto, Importe)
    VALUES (@fechaMovimiento, @tipoMovimiento, @concepto, ABS(@importe));
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarPago] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarPago] @idSocio INT, @fechaPago DATETIME, @concepto NVARCHAR(100), @importe DECIMAL(18,2), @estado NVARCHAR(30) AS
BEGIN
    INSERT INTO dbo.Pago (IdSocio, FechaPago, Concepto, Importe, Estado) VALUES (@idSocio, @fechaPago, @concepto, @importe, @estado);
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarPublicacion] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarPublicacion] @titulo NVARCHAR(120), @contenido NVARCHAR(MAX), @tipoPublicacion NVARCHAR(50), @usuarioAutor NVARCHAR(100) AS
BEGIN
    INSERT INTO dbo.Publicacion (Titulo, Contenido, TipoPublicacion, UsuarioAutor) VALUES (@titulo, @contenido, @tipoPublicacion, @usuarioAutor);
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarSocio]
    @idsocio INT,
    @tipDoc VARCHAR(10), @nroDoc INT, @nombre VARCHAR(50), @apellido VARCHAR(50), @fecNac DATETIME,
    @nacionalidad VARCHAR(50), @mail VARCHAR(100), @telefono INT
AS
BEGIN
    INSERT INTO dbo.Socio (IdSocio, TipoDocumento, NumeroDocumento, Nombre, Apellido, FechaNacimiento, Nacionalidad, Email, Telefono, Activo, DigitoVerificadorHorizontal)
    VALUES (@idsocio, @tipDoc, @nroDoc, @nombre, @apellido, @fecNac, @nacionalidad, @mail, @telefono, 'S', 0);
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarUsuario] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario] @usuario VARCHAR(50), @password NVARCHAR(255), @fechaCreacion DATETIME, @id INT, @bloqueado CHAR(1), @activo CHAR(1), @idRol INT AS
BEGIN
    INSERT INTO dbo.Usuario (IdSocio, NombreUsuario, Contraseña, FechaCreacion, Bloqueado, Activo, IntentosFallidos, IdRol)
    VALUES (@id, @usuario, @password, @fechaCreacion, @bloqueado, @activo, 0, @idRol);
END

GO
/****** Objeto: StoredProcedure [dbo].[RegistrarVenta] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarVenta]
    @fechaVenta DATETIME,
    @tipoVenta NVARCHAR(30),
    @descripcion NVARCHAR(160),
    @importe DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    SET @tipoVenta = UPPER(LTRIM(RTRIM(@tipoVenta)));

    IF @tipoVenta NOT IN ('ENTRADA', 'BUFFET', 'MERCHANDISING', 'ALQUILER', 'OTRO')
    BEGIN
        RAISERROR('Seleccione un tipo de venta válido.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Venta (FechaVenta, TipoVenta, Descripcion, Importe)
    VALUES (@fechaVenta, @tipoVenta, @descripcion, @importe);

    INSERT INTO dbo.MovimientoFinanciero (FechaMovimiento, TipoMovimiento, Concepto, Importe)
    VALUES (@fechaVenta, 'INGRESO', 'Venta - ' + @tipoVenta + ': ' + ISNULL(@descripcion, ''), @importe);
END

GO
/****** Objeto: StoredProcedure [dbo].[ReiniciarIntentosFallidos] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReiniciarIntentosFallidos] @usu VARCHAR(50) AS
BEGIN
    UPDATE dbo.Usuario SET IntentosFallidos = 0 WHERE NombreUsuario = @usu;
END

GO
/****** Objeto: StoredProcedure [dbo].[ResolverIdSocio] Fecha de script: 4/7/2026 08:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResolverIdSocio] @socioOUsuario NVARCHAR(100) AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @id INT;
    IF ISNUMERIC(@socioOUsuario) = 1
    BEGIN
        SET @id = TRY_CONVERT(INT, @socioOUsuario);
        IF EXISTS (SELECT 1 FROM dbo.Socio WHERE IdSocio = @id)
        BEGIN
            SELECT @id AS IdSocio;
            RETURN;
        END
    END

    SELECT TOP 1 @id = IdSocio
    FROM dbo.Usuario
    WHERE NombreUsuario = @socioOUsuario;

    SELECT ISNULL(@id, 0) AS IdSocio;
END

GO
USE [master]
GO
